# dependencies
node_modules

# output
out
dist
*.tgz

# logs
logs
*.log

# dotenv
.env
.env.*

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Screenshots (generated at runtime)
*.png

# WhatsApp session data
.wspp-session/
